.env
#Ignore everything inside my_folder
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/terraform-provider-aws_v5.100.0_x5
src/__pycache__
.vscode
.venv
airflow/dags/__pycache__
